.aquatic-background {
    background-color: black;
    color: #fff;
}


.aquatic-title {
    color: white;
    font-weight: bolder;
    padding-top: 30px;
}

.card-body {
    background-color: rgb(31, 31, 31);
    border: none;
    border-radius: 20px;
    color: white;
}

.card-body button{
    background-color: #ff5c20;
    border: none;
    border-radius: 15px;
    margin: 20px;
    margin-top: 0px;
}

.card-body button:hover {
    background-color: #ff7644;
}

.form-label {
    color: white;
    margin: 20px;
    font-weight: bold;
    font-size: larger;
}

.mb-3 input {
    background-color: rgb(54, 54, 54);
    border: none;
    margin: 5px 20px;
    /* Adjusted margin */
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 20px;
    max-width: calc(100% - 40px);
    /* Set maximum width */
}

.form-control.sign-in-placeholder {
    color: white;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(54, 54, 54);
}

.form-control.sign-in-placeholder::placeholder {
    color: rgb(180, 180, 180);
}

.form-control.sign-in-placeholder:focus {
    background-color: rgb(54, 54, 54);
    color: white;
}